@page "/employeeoverview"
@using HRM.App2.Models
@attribute [Authorize]

<PageTitle>@Title</PageTitle>

    <HeadContent>
        <meta name="description" content="@Description">
    </HeadContent>

    <h1 class="page-title mb-2">Employee Overview</h1>

    @if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @* <QuickViewPopup Employee="_selectedEmployee"></QuickViewPopup>
    <div class="row">
        @foreach (var employee in Employees)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
                <ErrorBoundary>
                    <ChildContent>
                        <EmployeeCard Employee="employee" EmployeeQuickViewClicked="ShowQuickViewPopup"></EmployeeCard>
                    </ChildContent>
                    <ErrorContent>
                        <div class="col">
                            <div class="card rounded-3 employee-card">
                                <div class="card-header bg-danger text-white py-3">
                                    <h4>Error</h4>
                                </div>
                                <div class="card-body employee-card text-center text-danger">
                                    <h5 class="card-title">Invalid Employee!</h5>
                                    <p class="card-text">
                                        There was a problem with the employee details. Please check the
                                        information and try again. If the problem persists, contact support.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        }
    </div> *@

    <TelerikGrid Data="@Employees"
                 Pageable="true"
                 Sortable="true"
                 Resizable="true"
                 EnableLoaderContainer="true"
                 Size="@ThemeConstants.Grid.Size.Small"
                 EditMode="@GridEditMode.Popup"
                 OnUpdate="@UpdateHandler" OnEdit="@EditHandler" OnDelete="@DeleteHandler"
                 OnCreate="@CreateHandler" OnCancel="@CancelHandler" ConfirmDelete="true">
        <GridSettings>
            <GridPopupEditSettings MinWidth="800px"
                                   MaxHeight="700px"
                                   Class="custom-popup">
            </GridPopupEditSettings>
            <GridPopupEditFormSettings Orientation="@FormOrientation.Vertical"
                                       ButtonsLayout="FormButtonsLayout.Stretch">
            </GridPopupEditFormSettings>
        </GridSettings>
        <GridToolBarTemplate>
            <GridCommandButton Command="Add" Icon="@SvgIcon.Plus">Add Employee</GridCommandButton>
            <span class="k-toolbar-spacer"></span> @* add this spacer to keep the searchbox on the right *@
            <GridSearchBox />
        </GridToolBarTemplate>
        <GridColumns>
            <GridColumn>
                <HeaderTemplate>
                    <strong></strong>
                </HeaderTemplate>
                <Template>
                    @{
                        var item = context as Employee;
                        <img src="@($"https://picsum.photos/id/{item.EmployeeId}/30")" alt="Image of @item.EmployeeId" class="rounded-circle" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(Employee.EmployeeId))" Editable="false" />
            <GridColumn Field="@nameof(Employee.FirstName)" Title="Firstname" />
            <GridColumn Field="@nameof(Employee.LastName)" Title="Lastname" />
            <GridColumn Field="@(nameof(Employee.BirthDate))" Title="Birth Date" DisplayFormat="{0:dd MMM yy}" />
            <GridColumn Field="@nameof(Employee.Email)" Title="Email" />
            <GridColumn Field="@nameof(Employee.Street)" Title="Street" EditorType="@GridEditorType.TextArea" />
            <GridColumn Field="@nameof(Employee.Zip)" Title="Zip" />
            <GridColumn Field="@nameof(Employee.City)" Title="City" />
            <GridColumn Field="@nameof(Employee.CountryId)" Title="Country" Width="150px">
                <Template>
                    @{
                        var employee = context as Employee;
                        @employee.Country?.Name
                    }
                </Template>
                <EditorTemplate>
                    @{
                        var employee = context as Employee;
                        Console.WriteLine(employee.CountryId);
                        <TelerikComboBox Data="@Countries" Size="@ThemeConstants.ComboBox.Size.Small"
                                         TextField="@nameof(Country.Name)"
                                         ValueField="@nameof(Country.CountryId)"
                                         @bind-Value="employee.CountryId">
                        </TelerikComboBox>
                    }
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(Employee.PhoneNumber)" Title="PhoneNumber" />
            <GridColumn Field="@nameof(Employee.Smoker)" Title="Smoker" />
            <GridColumn Field="@nameof(Employee.MaritalStatus)" Title="Marital Status" />
            <GridColumn Field="@nameof(Employee.Gender)" Title="Gender" />
            <GridColumn Field="@nameof(Employee.Comment)" Title="Comment" />
            <GridColumn Field="@nameof(Employee.JoinedDate)" Title="Joined Date" DisplayFormat="{0:dd MMM yy}" />
            <GridColumn Field="@nameof(Employee.ExitDate)" Title="Exit Date" DisplayFormat="{0:dd MMM yy}" />
            <GridColumn Field="@nameof(Employee.JobCategory)" Title="Job Category" Width="150px">
<Template>
                    @{
                        var employee = context as Employee;
                        @employee.JobCategory?.JobCategoryName
                    }
                </Template>
                <EditorTemplate>
                    @{
                        var employee = context as Employee;
                        <TelerikComboBox Data="@JobCategories" Size="@ThemeConstants.ComboBox.Size.Small"
                                         TextField="@nameof(JobCategory.JobCategoryName)"
                                         ValueField="@nameof(JobCategory.JobCategoryId)"
                                         @bind-Value="employee.JobCategoryId">
                        </TelerikComboBox>
                    }
                </EditorTemplate>
            </GridColumn>
            <GridCommandColumn>
                <GridCommandButton Command="Save" Icon="@SvgIcon.Save" Size="@ThemeConstants.Button.Size.Small" ShowInEdit="true"></GridCommandButton>
                <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil" Size="@ThemeConstants.Button.Size.Small"></GridCommandButton>
                <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash" Size="@ThemeConstants.Button.Size.Small"></GridCommandButton>
                <GridCommandButton Command="Cancel" Icon="@SvgIcon.Cancel" Size="@ThemeConstants.Button.Size.Small" ShowInEdit="true"></GridCommandButton>
            </GridCommandColumn>

        </GridColumns>
        <NoDataTemplate>
            <strong>No Data available / The data is still loading...</strong>
        </NoDataTemplate>
    </TelerikGrid>
}