﻿@page "/pocdemo"
@using HRM.App2.Components.CustomComponents

<TelerikComboBoxWrapper TItem="Product" TValue="int"
                        Data="@productList"
                        TextField="Name"
                        ValueField="Id"
                        Value="@selectedProductId"
                        ValueChanged="@(value => OnProductSelected(value))"
                        Placeholder="Select a product...">
</TelerikComboBoxWrapper>

<h3 class="mt-3 mb-3">Selected Product Id: @selectedProductId</h3>

<TelerikComboBoxWrapper TItem="OrganizationItem" TValue="int"
                        Data="@orgItems"
                        TextField="Name"
                        ValueField="Id"
                        Value="@SelectedOrgItemId"
                        ValueChanged="@((int value) => SelectedOrgItemId = value)"
                        Placeholder="Select a organization..."
                        OnCustomBlur="@OnBlur">
</TelerikComboBoxWrapper>

<h3 class="mt-3 mb-3">Selected organization Id: @SelectedOrgItemId</h3>

<ChildComponent SignOnData="@signOnDetails" />
<button @onclick="HandleDetailsChange">Sign On</button>


<h3 class="mt-3 mb-3">Multi Select Wrapper</h3>

<TelerikMultiSelectWrapper TItem="Product" TValue="int"
                           Data="@productList"
                           ValueField="Id"
                           TextField="Name"
                           Value="@selectedProducts"
                           ValueChanged="@((List<int> values) => selectedProducts = values)"
                           TagMode="MultiSelectTagMode.Multiple" />

<h3 class="mt-3 mb-3">Selected Products</h3>
<ul>
    @foreach (var product in selectedProducts)
    {
        <li>@product</li>
    }
</ul>