@page "/employeeoverview"
@attribute [Authorize]

<PageTitle>@Title</PageTitle>

    <HeadContent>
        <meta name="description" content="@Description">
    </HeadContent>

    <h1 class="page-title mb-5">Employee Overview</h1>

    @if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @* <table class="table table-light">
<thead class="table-info">
<tr>
<th></th>
<th>Employee ID</th>
<th>First name</th>
<th>Last name</th>
</tr>
</thead>
<tbody>
@foreach (var employee in Employees)
{
<tr>
<td>
<img src="@($"https://picsum.photos/id/{employee.EmployeeId}/30")" alt="@employee.FirstName"
class="rounded-circle" />
</td>
<td>@employee.EmployeeId</td>
<td>@employee.FirstName</td>
<td>@employee.LastName</td>
</tr>
}
</tbody>
</table> *@
    <QuickViewPopup Employee="_selectedEmployee"></QuickViewPopup>
    <div class="row">
        @foreach (var employee in Employees)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
                @* <EmployeeCard Employee="employee" EmployeeQuickViewClicked="ShowQuickViewPopup"></EmployeeCard> *@
                <ErrorBoundary>
                    <ChildContent>
                        <EmployeeCard Employee="employee" EmployeeQuickViewClicked="ShowQuickViewPopup"></EmployeeCard>
                    </ChildContent>
                    <ErrorContent>
                        <div class="col">
                            <div class="card rounded-3 employee-card">
                                <div class="card-header bg-danger text-white py-3">
                                    <h4>Error</h4>
                                </div>
                                <div class="card-body employee-card text-center text-danger">
                                    <h5 class="card-title">Invalid Employee!</h5>
                                    <p class="card-text">
                                        There was a problem with the employee details. Please check the
                                        information and try again. If the problem persists, contact support.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        }
    </div>
}