﻿@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <TelerikButton ThemeColor="primary">Click me!</TelerikButton>
<TelerikButton ThemeColor="secondary">Click me!</TelerikButton>
<TelerikButton ThemeColor="success">Click me!</TelerikButton>
<TelerikButton ThemeColor="info">Click me!</TelerikButton>
<TelerikButton ThemeColor="warning">Click me!</TelerikButton>
 *@

<TelerikButton ThemeColor="primary" OnClick="@SayHello">Hello</TelerikButton>
<TelerikButton Icon="@SvgIcon.Export">SVG Icon</TelerikButton>
<TelerikButton Icon="@FontIcon.Filter">Font Icon</TelerikButton>
<br/>

@helloString