<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3">
            <h4>@Employee.FirstName @Employee.LastName</h4>
        </div>
        <div class="card-body employee-card text-center">
            <div class="mb-3">
                <img src="@($"https://picsum.photos/id/{Employee.EmployeeId}/150")"
                    class="employee-img rounded-circle img-fluid" />
            </div>
            <button class="btn btn-info btn-sm mb-1"
                @onclick="@(async () => await EmployeeQuickViewClicked.InvokeAsync(Employee))"> Quick view</button>
            @* <a href="@($"employeedetail/{Employee.EmployeeId}")" class="btn btn-outline-info btn-sm mb-1"> Full Details</a> *@
            <button class="btn btn-outline-warning btn-sm mb-1"
                @onclick="@(() => NavigateToDetails(Employee))"> Full Details</button>
        </div>
    </div>
</div>