﻿@page "/"
@inject IStringLocalizer<Resources> localizer
@attribute [Authorize]

<PageTitle>HRM | Home</PageTitle>

<HeadContent>
    <meta name="description" content="@Description">
</HeadContent>

<h1 class="page-title">@localizer["indexpagemsg"]</h1>
<br />
<h3 class="mb-5">@localizer["indexpagetitle"]</h3>

@foreach(var widgetType in Widgets) {
    <DynamicComponent Type="widgetType"></DynamicComponent>
}