﻿<div class="sidebar bg-light">
    <div class="pt-2 h-100">
        <ProfilePicture>
            <img class="img-fluid rounded-circle"
                 src="https://img.freepik.com/premium-vector/hrm-human-resource-management-icon-label-badge-vector-stock-illustration_100456-10649.jpg?w=2000" />
        </ProfilePicture>
        <div class="menu list-group list-group-flush pt-5">
            <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="list-group-item list-group-item-action bg-light" href="/databindingsample">
                <span class="oi oi-bold" aria-hidden="true"></span> Data Binding
            </NavLink>
            <AuthorizeView>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeoverview">
                    <span class="oi oi-people" aria-hidden="true"></span> Employees
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeedit">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add new Employee
                </NavLink>
            </AuthorizeView>
        </div>
    </div>
</div>