﻿@page "/"

<PageTitle>HRM | Home</PageTitle>

<h1 class="page-title">Welcome to HRM!</h1>
<br />
<h3 class="mb-5">Using this application, you can manage our wonderful staff working for us all over the world, bringing people the best pies ever!</h3>
