﻿@using HRM.App2.Models
<h3>ChildComponent</h3>

<input @bind="SignOnData.Username" placeholder="Username" />
<input type="password" @bind="SignOnData.Password" placeholder="Password" />

@* <button class="btn btn-primary" @onclick="HandleChange">Change</button> *@

@code {
    [Parameter] public SignOnDetails SignOnData { get; set; }
    // [Parameter] public EventCallback<SignOnDetails> OnDetailsChanged { get; set; }

    // private void HandleChange()
    // {
    //     OnDetailsChanged.InvokeAsync(Details);
    // }
}
