﻿@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<TelerikGrid Data="@forecasts">
    @* <GridColumns>
    <GridColumn Field="Id" />
    <GridColumn Field="Date" />
    <GridColumn Field="TemperatureC" />
    <GridColumn Field="TemperatureF" />
    <GridColumn Field="Summary" />
    </GridColumns> *@
    @* <GridColumns>
    <GridColumn Field="@nameof(WeatherForecast.Id)" Title="Id" />
    <GridColumn Field="@nameof(WeatherForecast.Date)" Title="Date" />
    <GridColumn Field="@nameof(WeatherForecast.TemperatureC)" Title="Temp. (C)" />
    <GridColumn Field="@nameof(WeatherForecast.TemperatureF)" Title="Temp. (F)" />
    <GridColumn Field="@nameof(WeatherForecast.Summary)" Title="Summary" />
    </GridColumns> *@
    @* <GridColumns>
    <GridColumn>
    <HeaderTemplate>
    <strong>Id</strong>
    </HeaderTemplate>
    <Template>
    @{
    var item = context as WeatherForecast;
    <img src="@($"https://picsum.photos/id/{item.Id}/30")" alt="Image of @item.Id" class="rounded-circle" />
    }
    </Template>
    </GridColumn>
    <GridColumn Field="@nameof(WeatherForecast.Date)" Title="Date" />
    <GridColumn Field="@nameof(WeatherForecast.TemperatureC)" Title="Temp. (C)" />
    <GridColumn Field="@nameof(WeatherForecast.TemperatureF)" Title="Temp. (F)" />
    <GridColumn Field="@nameof(WeatherForecast.Summary)" Title="Summary" />
    </GridColumns> *@
</TelerikGrid>

<TelerikGrid Data="@forecasts"
             Pageable="true"
             Sortable="true"
             FilterMode="@GridFilterMode.FilterRow">
    <GridColumns>
        <GridColumn>
            <HeaderTemplate>
                <strong>Id</strong>
            </HeaderTemplate>
            <Template>
                @{
                    var item = context as WeatherForecast;
                    <img src="@($"https://picsum.photos/id/{item.Id}/30")" alt="Image of @item.Id" class="rounded-circle" />
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(WeatherForecast.Date)" Title="Date" />
        <GridColumn Field="@nameof(WeatherForecast.TemperatureC)" Title="Temp. (C)" />
        <GridColumn Field="@nameof(WeatherForecast.TemperatureF)" Title="Temp. (F)" />
        <GridColumn Field="@nameof(WeatherForecast.Summary)" Title="Summary" />
    </GridColumns>
    <NoDataTemplate>
        <strong>No Data available / The data is still loading...</strong>
    </NoDataTemplate>
</TelerikGrid>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public int Id { get; set; }

        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
