﻿@typeparam TItem
@typeparam TValue

<TelerikMultiSelect TItem="TItem" TValue="TValue"
                    Data="@Data"
                    OnRead="@OnRead"
                    Value="@Value"
                    ValueField="@ValueField"
                    TextField="@TextField"
                    Filterable="@Filterable"
                    TagMode="@TagMode"
                    Placeholder="@Placeholder" 
                    ValueChanged="@ValueChanged" />

@code {
    [Parameter] public List<TItem> Data { get; set; }
    [Parameter] public EventCallback<MultiSelectReadEventArgs> OnRead { get; set; }
    [Parameter] public List<TValue> Value { get; set; }
    [Parameter] public EventCallback<List<TValue>> ValueChanged { get; set; }
    [Parameter] public string ValueField { get; set; }
    [Parameter] public string TextField { get; set; }
    [Parameter] public bool Filterable { get; set; } = true;
    [Parameter] public MultiSelectTagMode TagMode { get; set; } = MultiSelectTagMode.Single;
    [Parameter] public string Placeholder { get; set; } = "Select";
}