﻿@typeparam TItem
@typeparam TValue

 <TelerikComboBox Data="@Data"
                 TextField="@TextField"
                 ValueField="@ValueField"
                 Value="@Value"
                 ValueChanged="@ValueChanged"
                 Placeholder="@Placeholder"
                 OnBlur="@OnCustomBlur">
</TelerikComboBox>

@code {
    [Parameter] public IEnumerable<TItem> Data { get; set; }
    [Parameter] public string TextField { get; set; }
    [Parameter] public string ValueField { get; set; }
    [Parameter] public TValue Value { get; set; } // Using generic type
    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }
    [Parameter] public EventCallback OnCustomBlur { get; set; }
    [Parameter] public string Placeholder { get; set; }
}