﻿@layout TelerikLayout
@inherits LayoutComponentBase

<TelerikAppBar ThemeColor="info" Position="AppBarPosition.Top" PositionMode="AppBarPositionMode.Fixed">
    <AppBarSection>
        <a class="ms-2" href="/">
            <img src="images/HRM.png" width="150" height="50" alt="HRM Logo">
        </a>
    </AppBarSection>

    <AppBarSection>
        <h3>Human Resource Management</h3>
    </AppBarSection>

    <AppBarSpacer></AppBarSpacer>

    <AppBarSection>
        <InboxCounter></InboxCounter>
    </AppBarSection>

    <AppBarSection>
        <AuthenticationStatus></AuthenticationStatus>
    </AppBarSection>
</TelerikAppBar>

<div class="container-fluid h-100">
    <div class="row h-100">
        <TelerikDrawer Data="@NavigablePages" Expanded="true" MiniMode="true" Mode="@DrawerMode.Push">
            <Template>
                <ProfilePicture>
                    <img class="img-fluid rounded-circle"
                         src="https://img.freepik.com/premium-vector/hrm-human-resource-management-icon-label-badge-vector-stock-illustration_100456-10649.jpg?w=2000" />
                </ProfilePicture>
                <div class="k-drawer-items">
                    @foreach(var item in context)
                    {
                        <NavLink class="k-drawer-item" href="@item.Url">
                            <TelerikSvgIcon Icon="@item.Icon"></TelerikSvgIcon> @item.Text
                        </NavLink>
                    }
                </div>
            </Template>
            <DrawerContent>
                <div class="mx-2">
                    @Body
                </div>
            </DrawerContent>
        </TelerikDrawer>
    </div>
</div>