﻿@page "/databindingsample"

<div class="mt-5">
    <h2>One Way Binding</h2>
    Employee FirstName: <label>@Employee.FirstName</label>
    <br />
    Employee LastName: <label>@Employee.LastName</label>
</div>

<div class="mt-5">
    <h2>One Way Binding on Input Types</h2>
    Employee FirstName: <input value="@Employee.FirstName" />
    <br />
    Employee LastName: <input value="@Employee.LastName" />
</div>

<div class="mt-5">
    <h2>Two Way Binding on Input Types</h2>
    Employee FirstName: <input @bind="@Employee.FirstName" />
    <br />
    Employee LastName: <input @bind="@Employee.LastName" />
</div>

<div class="mt-5">
    <h2>Two Way Binding on Input Types using different Event</h2>
    Employee FirstName: <input @bind-value="@Employee.FirstName" @bind-value:event="oninput" />
    <br />
    Employee LastName: <input @bind-value="@Employee.LastName" @bind-value:event="oninput" />
</div>

<div class="mt-5">
    <h2>Event Binding</h2>
    <button class="btn btn-info" @onclick="HandleClick">Click Me</button>
    <br />
    <br />
    <h2 class="text-capitalize text-success">System Time is: @currenttime</h2>
    <br />
    <button class="btn btn-info" @onclick="UpdateClick">Update Time</button>
    <button class="btn btn-info" @onclick="StartClock">Start Clock</button>
</div>